.main {
  justify-content: space-between;
  .head-logo {
    width: 40px;
    height: 40px;
    background-size: 100% 100%;
    background-image: url(../react.svg);
    background-repeat: no-repeat;
  }
  .head-title {
    font-size: 28px;
    text-align: center;
    padding: 0 25px;
  }
  .head-user{
    display: flex;
    gap: 10px;
    img{
      width: 40px;
      height: 40px;
      vertical-align: middle;
    }
  }
}
